body {
    border: 1px solid #EEEEEE;
    background-color:#EEEEEE;
}
.navbar-brand{
    padding:0px;
    text-align:center;
}
a.navbar-brand{
    background-color:#49AD9F; 
    color:white; 
    font-size:14px;  
    padding:6px;
    margin-left:0 auto;
    margin-right: 0 auto;
    width:auto;
}
/*CENTERING THE INNER NAVBAR*/
      #centered{
      display:inline-block;
      float:none;
  }
  #myNavbar{
      text-align:center;
  }
  /*ESTABLISHING BORDER AROUND COLUMNS*/
  .content{
      border:solid;
      border-color:#E5E0E4;
      border-width:1px;
  }
  .content .col-lg-3.col-md-4.col-sm-12.col-xs-12{
      padding-right:0px;
      padding-left:0px;
      border:solid;
      border-color:#E5E0E4;
      border-width:1px;
  }
  /*ALL ROWS HAVE NO BOTTOM MARGIN*/
  .row{
      margin-bottom:0px;
  }
  .well{
    background:none;
    border:none;
    color:#6DD1BC;
    font-family:'Montserrat', sans-serif;
    font-size:26px;
    text-align:center;
    margin-bottom:0px;
    padding-bottom:0px;
}
#well1style {
    background-color:#3C4343; 
        opacity:0.7;
        text-align:center; 
}
#well2style{
background-color:white;
opacity:0.7;
text-align:left;
}
#well1{
    border:none;
    color:white; 
    font-family: 'Montserrat', sans-serif; 
    font-size: 26px; 
    text-align: center;
    margin-bottom: 0px;
     background-repeat: no-repeat;
     padding-bottom:30px;
     padding-top:30px;
}
#well2{
    border:none;
    color:#3C4343; 
    font-family: 'Montserrat', sans-serif; 
    font-size: 26px; 
    text-align: center;
    margin-bottom: 0px;
     background-repeat: no-repeat;
     padding-bottom:30px;
     padding-top:30px;
}
#mainImg {
    background-image: url('images/mainImg1.jpeg');
    max-height:100%;
    max-width:100%;
    position:relative;
    text-align:center;
     background-size: cover;
}
#secondImg {
background-image: url('images/Versilia.jpg');
  max-height:100%;
    max-width:100%;
    position:relative;
    text-align:center;
    background-size: cover;
    height:488px;
}

  /*TURNING EACH GRID ITEM INTO A SQUARE*/
.squarenone {
    background-color:white;
    width: 100%;
    padding:0%;
    margin:0 auto;
    background-size: cover;
    text-align:center;
    height: 451.5px;
}

/*BASIC SQUARE*/

.square1{
    width: 100%;
    padding-bottom: 100%;
    background-image: url('images/Villa-Vanna-231-348x348.jpg');
    background-size: cover;
}
.square2 {
    width: 100%;
    padding-bottom: 100%;
    background-image: url('images/314-348x348.jpg');
    background-size: cover;
}
.square3 {
    width: 100%;
    padding-bottom: 100%;
    background-image: url('images/3b-348x348.jpg');
    background-size: cover;
}
.square3 {
    width: 100%;
    padding-bottom: 100%;
    background-image: url('images/42-348x348.jpg');
    background-size: cover;
}
.squarefinal {
    width: 100%;
    padding-bottom: 100%;
    height: 451.5px;
    background-size:contain;
    background-repeat:no-repeat;
    text-align:center;
    background-image: url('images/box_partners.png');
}
   #gray{
            background-color:#CFD1CF;
    height:40px;
    }
.page-footer{
        height:60px;
        background-color:#E3DFE3;
    }
.page-footer p {
     float:left;
             font-size:9px;
        color: #878A8B;
        }